@import "tailwindcss";

@theme {
  /* ここに書いた --color-*** が、自動的に bg-*** や text-*** として使えるようになります */
  --color-val-red: #FF4655;
  --color-val-dark: #111111;
  --color-val-gray: #768079;
  --color-val-light: #ECE8E1;
  --color-val-blue: #0f1923;

  /* アニメーションの定義 */
  --animate-fade-in: fadeIn 0.2s ease-out forwards;
}

/* キーフレームは @theme の外に書きます */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}